// Specific CSS for your home-page
.home-banner {
  background-image: url('vaccine.jpg');
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
